---

import type { Producto } from "@/interfaces/dakini";
import { getDatosBasicos, getListaProductos } from "@/lib/queries";
const { settings } = await getDatosBasicos();
const { productos} = await getListaProductos();
const prod: Producto[] = productos.productos ;
console.log  ( prod.length)


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{settings?.title}</h1>
		<p>{settings?.describe}</p>
{
	prod.map(({title, categoria, content}) => (
		<div>
			<h2>{title}</h2>
			<span> {categoria?.tipo} </span>
			
		</div>
	))
}
		
		
	</body>
</html>
